/*
***********
RESET
***********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
***********
COMMON
***********
*/

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.bg-b{
    background-color: black;
}

li{
    list-style-type: none;
}

.photo-menu{
    padding: 0 10px;
    
}

.spot-img{
    display: block;
    width: 20px;
}

.nav-p{
    padding: 10px;
}

.d-none{
    display: none;
}

.d-none2{
    display: none;
}

.c-white{
    color: white;
}

.c-grey{
    color: grey;
}

.f-c-grey{
    color: #878787;
}

.f-grey{
    filter: grayscale(100%);
}

.t-trans{
    text-transform: uppercase;
}


.same-size{
    font-size: 13px;
}

.name-song{
    width: 100%;
}


/*
***********
MAIN
***********
*/

.playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.m-sides{
    height: calc(100% - 90px);
    display: flex;
}

.nav{
    padding: 5px 0 10px 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.rounded{
    display: flex;
    margin-bottom: 5px;
    padding-right: 2px;
}

.pad-right{
    padding-right: 2px;
}

.c-grey i{
    margin: 5px 0px 0px 6px;
}

.m-top{
    margin-top: 5px;

}

.marg-l{
    margin-left: 5px;
}

.marg-t{
    margin-top: auto;
}

#logo{
    display: none;
}

#logo-small{
    height: 30px;
    width:s 30px;
}

.music-list{
    background-color: #141922;
    flex-grow: 1;
}

.prof{
    border-radius: 50%;
    background-color: grey;
}

.p-list{
    overflow-y: auto;
}

.menu img{
    width: 30px;
}


.main-menu li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.hr-p{
    text-align: center;
}

.bar-g{
    background-color: #5a5a5a;
    width: 60%;
    height: 4px;
    border-radius: 3px;
    margin: 7px 7px;
}

.bar-w{
    background-color: #c1c1c1;
    width: 20%;
    height: 4px;
    border-radius: 3px;
}

.m-top span{
    font-size: 15px;
    font-weight: bold;
    padding-top: 4px;
}

.rounded .same-size{
    padding-top: 2px;
}

/*
***********
FOOTER
***********
*/

.f-bg-grey{
    background-color: #282828;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}


footer{
    height: 90px;
}

.f-left img{
    height: 30px;
    width: 30px;
    padding: 10px 7px 0 0;
}

.f-left{
    display: flex;
    width: 20%;
}

.f-left-icon{
    margin-left: 10px;
    padding: 10px 0;
}

.f-left-icon i{
    padding: 0 5px;
}

.f-center{
    width: 45%;
}

.s-flex{
    display: flex;
    justify-content: space-between;
}

.s-flex i{
    padding: 0 5px;
    font-size: 12px;
}

.f-right{
    width: 25%;
    padding: 14px 0 0 0;
}

.f-right i{
    color: white;
}

.b-icon{
    font-size: 20px;
}

.song-bar{
    margin-top: 5px ;
}

.name-song h4{
    font-size: 12px;
}

.name-song .d-flex div{
    font-size: 10px;
}

.c-white .fonts-i i{
    font-size: 30px;
}

.c-white i{
    font-size: 20px
}

/*
***********
RESPONSIVE
***********
*/

/*small*/

@media screen and (min-width: 576px){
    .nav{
        max-width: 230px;
        padding: 10px 0 10px 0;
    }

    .d-none2{
        display: block;
    }

    .d-none{
        display: inline;
    }

    #logo {
        width: 132px;
        display: block;
        margin-bottom: 10px;
    }

    #logo-small{
        display: none;
    }
    
    .playlist{
        display: flex;
    }

    .marg-t{
        display: flex;
        flex-direction: column;
    }

    .d-flex{
        display: flex;
    }


}

@media screen and (min-width: 768px){

    .f-left-icon{
        display: flex;
    }

}

@media screen and (min-width: 992px){


}

@media screen and (min-width: 1200px){


}